.main-page {
    background-image: url("../dist/starry-night.jpg");
    background-color: black;
    width: 100vw;
    height: 100vh;
    justify-content: center
}

.title-page {
    width: 100%;
    height: 54px;
    background-color: black;
    color: white;
    font-family: 'Impact';
    font-size: 48px;
    text-align: center;
}

.canvas {
    margin-top: 30px;
    background-image: url("../dist/starry-night.jpg");
    border-style: double;
    color: white;
}
.instructions-description-icons-column {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 30px 40px 0 40px;
    font-family: 'Impact';
    justify-content: space-between;
}

@media screen and (max-width: 1250px) {
    .instructions-description-icons-column {
    display: none;
    }
}

.instructions{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    width: 100%;
    height: 20%;
    border-style: double;
    border-width: 1px;
    /* line-height: 3.5; */
    justify-content: space-around;
    /* justify-content: center; */
}

.instructions-title {
    text-align: center;
    text-decoration: underline;
}

.instructions-arrow-keys {
    display: flex;
    justify-content: center;
}

.arrow-keys {

    color: red;
}

.z {

    color: red;
}

.instructions-shoot {

    display: flex;
    justify-content: center;
}

.game-instructions-icons {
    display: flex;
    /* margin: auto; */
}


.description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 40%;
    color: white;
    border-style: double;
    border-width: 1px;
    background-color: black;

    /* padding: 10px; */
}

.desc-1 {
    text-align: center;
}

.desc-2 {
    text-align: center;
}

.desc-3 {
    /* display: flex; */
    text-align: center;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 17%;
}

.github {
    background-image: url("../dist/github.png");
    background-size: cover;
    height: 40px;
    width: 40px;
}

.linkedin {
    background-image: url("../dist/linkedin.png");
    background-size: cover;
    height: 40px;
    width: 40px;
}